.border{ border: 1px solid red!important; }
.wTotal{ width: 100%!important; }
.hTotal{ height:100%!important; }
.activeMenu{ 
	background-color:rgba(0, 0, 0, 0.5)!important;
	color:#fff!important;
}

#ms{ background: rgba(0, 0, 0, 0.5); }
/* ==================================== Class ======================================= */
/* Letters Colors*/
.color1{ color: #fff!important; }
/* Background Colors*/
.background1 { background-color: rgba(0, 0, 0, 0.7)!important; }
/* Effect */
.transition{ transition: all .5s; }
/* ================================== Especific ===================================== */
/**/
#img-ppal{
	background: url('../images/aplication/Mercado_de_Artesanias_Muebles_2.JPG') 100%/100% no-repeat;
	height: 300px!important;
}
/* Menu normal*/
#btn-login,
#btn-register{ color:#fff!important; }
.op-menu{
	background: rgba(0, 0, 0, 0.1);
	border: 1px solid #fff!important;
	border-radius: 4px;
	margin-right:10px;
}
.op-menu:hover{
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff!important;
	border-radius: 4px;
	margin-right:10px;
}
.op-menu a{
	margin: 0px!important;
	padding: 5px 20px!important;
}
.op-menu:hover a{
	padding: 5px 20px!important;
}
/* Home admin*/
nav#menu-admin{
	background-color:rgba(2555, 2555, 2555, 0.0);
	border:none;
}
nav#menu-admin div.container-fluid div.collapse ul.nav{
	/* border: 1px solid blue!important; */
	display:block!important; 
	margin:0px auto!important;
	width: 100%!important;
}
li.op-menu-admin{
	width:20%;
}
/* Home*/
#product-home div div { height: 200px; }
#product-home div h5  { 
	background-color: rgba(0,0,0,0.5); 
	color:#fff; margin-top: 0px;
	font-size:1.5em!important;
	height: 30px;
	padding: 0px; 
}
a#link-morders{
	background-color:#f2dede;
	color:#a94442;
}
#muestra{color:red;}
/*Order*/