.border{border:1px solid red!important;}
/* ===================================*/
/* class colors letters */
.color1{color: rgba(255, 255, 255, 1.0);}
/* ===================================*/
#img-ppal{ background:url('../images/aplication/Mercado_de_Artesanias_Muebles_2.JPG')90%/100% no-repeat; }